.TotalCompra{
    font-size: 25px;
    margin-bottom: 30px;
    color: gray;
}

.TituloCarrito{
    margin-top: 50px;
    color:gray;
}

.CarroVacio{
    color: red;
    margin-top: 80px;
    font-size: 50px;
}

.FotoCarroVacio{
 
   width: 40%;
}

.botonCarroVacio Link{
    text-decoration: none;
    background-color: aquamarine;
}

.botonCarroVacio button{
    background-color: aquamarine;
    margin-top: 50px;
}

.botonCarroVacio:link{
    text-decoration: none;
}

